<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/contact.css" type="text/css">

</head>

<body>

    <div class="middle">
        <a class="btn" href="#">
                <i class="fab fa-facebook-f" id="facebook"></i>
        </a>

        <a class="btn" href="#">
                <i class="fab fa-twitter" id="twitter"></i>
        </a>

        <a class="btn" href="#">
                <i class="fab fa-google" id="google"></i>
        </a>

        <a class="btn" href="#">
                <i class="fab fa-instagram" id="instagram"></i>
        </a>

        <a class="btn" href="#">
                <i class="fab fa-youtube" id="youtube"></i>
        </a>

        <a class="btn" href="#">
                <i class="fas fa-map-marker-alt" id="marker"></i>   
        </a>


    </div>
    
</body>
</html>